doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Provisional Communication BLR
  style.
    * {
      margin: 0;
      padding: 0;
    }
    body {
      font-family: 'Arial';
    }
    section {
      margin: 0 1.5rem;
    }
    .table-div{
      margin: 0 1rem;
    }
    table{
      width: 100%;
    }
    th, td{
      border: 1px solid black;
      text-align: left;
      padding: 8px;
    }
    .text-center{
      text-align: center;
    }
    .text-underline{
      text-decoration: underline;
    }



body 
  main 
    section
      p Shri/Mr. #{data.prov_comm_blr_ratings[0].company_contact}
      p #{data.prov_comm_blr_ratings[0].designation}
      p #{data.prov_comm_blr_ratings[0].company_name}
      p #{data.prov_comm_blr_ratings[0].address_1}

    h4(class="text-center text-underline") Request for Acceptance
    section
      p Dear Sir,
      br
      p We have for reference the Mandate contract dated 
      strong  Month XX, 20XX
      | signed by you for rating of Bank Facilities of your company. The Rating Committee of Infomerics has assigned the following ratings:    
  
    br
    div(class='table-div') 
        table
          thead  
            tr
              th(class="main-table-heading") Instrument / Facility
              th(class="main-table-heading") Amount (Rs. Crore)
              th(class="main-table-heading") Ratings
              th(class="main-table-heading") Rating Action
            
          tbody
            tr
              td(class="entity-name") Long Term Bank Facilities 
              td XX
              td XXX
              td Assigned
            tr
              td(class="entity-name") Short Term Bank Facilities 
              td XX
              td XX
              td Assigned
            tr
              td(class="entity-name") Long Term /Short Term Bank Facilities
              td XX
              td XX
              td Assigned
            tr(class="total")
              td Total
              td XX
              td
              td 
    section 
      p It may please be noted that this is a provisional communication made to you for your conveying the acceptance of the aforesaid rating and this communication cannot be used by you for any purpose. The final rating communication shall be sent to you soon after the acceptance of the aforesaid ratingis conveyed to us.
      p Our rating symbols for long term and short term rating along with explanatory notes thereon are annexed in XXXXXX.
      p Please send us your aforesaid acceptance in writing as per the attached Annexure II and use thereof within a maximum period of five days from the date of this communication, as per the requirement of SEBI. Please note that the rating shall not be used for any purpose whatsoever if the rating is not accepted and communicated to us as per the prescribed format as aforesaid. However, Infomerics is entitled to disseminate the rating in its website within a period of one month from the date of this communication even if the rating is not accepted.
      br
      br
      p Thanking you,
      p With regards,
      br
      br
      b (Name)
      p Designation
      p Email:
      br
    
    div(style="border: 1px solid black; font-size: 0.8rem; margin: 0 1rem") 
      strong Disclaimer: 
      span Infomerics ratings are based on information provided by the issuer on an ‘as is where is’ basis. Infomerics credit ratings are an opinion on the credit risk of the issue / issuer and not a recommendation to buy, hold or sell securities.  Infomerics reserves the right to change, suspend or withdraw the credit ratings at any point in time. Infomerics ratings are opinions on financial statements based on information provided by the management and information obtained from sources believed by it to be accurate and reliable. The credit quality ratings are not recommendations to sanction, renew, disburse or recall the concerned bank facilities or to buy, sell or hold any security. We, however, do not guarantee the accuracy, adequacy or completeness of any information which we accepted and presumed to be free from misstatement, whether due to error or fraud. We are not responsible for any errors or omissions or for the results obtained from the use of such information. Most entities whose bank facilities/instruments are rated by us have paid a credit rating fee, based on the amount and type of bank facilities/instruments. In case of partnership/proprietary concerns/Association of Persons (AOPs), the rating assigned by Infomerics is based on the capital deployed by the partners/proprietor/ AOPs and the financial strength of the firm at present. The rating may undergo change in case of withdrawal of capital or the unsecured loans brought in by the partners/proprietor/ AOPs in addition to the financial performance and other relevant factors.
    br
    br
    h3(class="text-center") ANNEXURE I
    br
    h4(class="text-center" ) INFOMERICS Rating Scale for Long Term Instruments & Borrowing Programmes
    div(class='table-div')
      table
        thead
          tr
            th(style="text-align: center;") Rating Scale
            th(style="text-align: center;") Definition
        tbody 
          tr
            td IVR AAA
            td Instruments with this rating are considered to offer the highest degree of safety regarding timely servicing of financial obligations. Such issuers carry lowest credit risk.
          tr 
            td IVR AA
            td Instruments with this rating are considered to offer high degree of safety regarding timely servicing of financial obligations. Such issuers carry very low credit risk.
          tr 
            td IVR A
            td Instruments with this rating are considered to offer adequate degree of safety regarding timely servicing of financial obligations. Such issuers carry low credit risk.
          tr 
            td IVR BBB
            td Instruments with this rating are considered to offer moderate degree of safety regarding timely servicing of financial obligations. Such issuers carry moderate credit risk.
          tr 
            td IVR BB
            td Instruments with this rating are considered to offer moderate risk of default regarding timely servicing of financial obligations.
          tr 
            td IVR B
            td Instruments with this rating are considered to offer high risk of default regarding timely servicing of financial obligations.
    section 
      i INFOMERICS may apply '+' (plus) or '-' (minus) signs for ratings assigned ‘IVR AA' to ‘IVR C' to indicate their relative standing within the category. 
      br
      br
      i INFOMERICS may assign rating outlooks for ratings from IVR ‘AAA' to IVR ‘B'.
      br
      br
      strong INFOMERICS Rating Scale for Short Term Instruments & Borrowing Programmes 
      br
      br
    div(class='table-div')
      table
        thead
          tr
            th(style="text-align: center;") Rating Scale
            th(style="text-align: center;") Definition
        tbody 
          tr
            td IVR A1
            td Instruments with this rating are considered to have very strong degree of safety regarding timely payment of financial obligations. Such instruments carry lowest credit risk.
          tr
            td IVR A2
            td Instruments with this rating are considered to have strong degree of safety regarding timely payment of financial obligations. Such instruments carry low credit risk.
          tr
            td IVR A3
            td Instruments with this rating are considered to have moderate degree of safety regarding timely payment of financial obligations. Such instruments carry higher credit risk as compared to instruments rated in the two higher categories.
          tr
            td IVR A4
            td Instruments with this rating are considered to have minimal degree of safety regarding timely payment of financial obligations. Such instruments carry very high credit risk and are susceptible to default.
          tr
            td IVR D
            td Instruments with this rating are in default or expected to be in default on maturity in servicing of debt obligations.
    section 
      i INFOMERICS may apply '+' (plus) signs for ratings assigned from ‘IVR A1' to ‘IVR A4' to indicate their relative standing within the category.
      br
      br
      h3(class="text-center") ANNEXURE II
      br
    p(style="text-align: center;") (To be typed in the letterhead of the rated entity)
    section 
      p Date:
      br 
      p Infomerics Valuation and Rating Private Limited 
      br
      p 104/108, Golf Apartments, Sujan Singh Park 
      br
      p New Delhi 110013
      br
      p Dear Sir,
      br
      h3(class="text-center") Acceptance of Rating
      br
      p We hereby convey our acceptance to the following rating from Infomerics Valuation and Rating Private Limited as tabulated below:
      br
    div(class='table-div')
      table
        thead
          tr
            th(style="text-align: center;") Instrument / Facility
            th(style="text-align: center;") Amount (Rs. Crore)
            th(style="text-align: center;") Ratings
            th(style="text-align: center;") Rating Action
        tbody 
          tr
            td Long Term Bank Facilities 
            td XX
            td XX
            td Assigned
          tr
            td Short Term Bank Facilities  
            td XX
            td XX
            td Assigned
          tr
            td Long Term /Short Term Bank Facilities 
            td XX
            td XX
            td Assigned
          tr
            td(style="font-weight: 600") Total 
            td(style="font-weight: 600") XX
            td
            td
    section 
      p For #{data.prov_comm_blr_ratings[0].company_name}
      br
      p Authorised Signatory 
      br
      br
      p #{data.prov_comm_blr_ratings[0].company_contact}
      br
      p #{data.prov_comm_blr_ratings[0].designation}          
